$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';

$nonblack: #423f37;
$axisfontcolor: #AAADAA;
$minorstrokecolor: #D1D1D1;
$gridlinecolor: #E7E7E7;
$axislinecolor: #B3B3B3;
$fontsize: 12px;
$charttitlecolor: #203566;

.hero-unit {
    margin: auto 0 auto;
    width: 960px;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #f5f6f8;
}

// For dev work only
svg {
  // border-style:solid;
  // border-color:$nonblack;
  font-size: $fontsize;
}


// Global Styles for consistency on all charts
.commonCharts{
  text {
    font: $fontsize sans-serif;
    fill: $nonblack;
  }

  // All lines do not fill
  .line {
    fill: none;
  }
  // Used for gray scale lines
  .minor.line {
    stroke: $minorstrokecolor;
  }
  g.chart-title {
    text {
      fill: $charttitlecolor;
      &.header {
        font-weight: bold;
        font-size: 16px;
      }
    }
  }
  // Define axis the same way
  .axis {
    path,
    line {
      fill: none;
      stroke: $axislinecolor ;
      shape-rendering: crispEdges;
    }
    text {
      fill: $axisfontcolor;
    }
    .gridline line {
      stroke: $gridlinecolor;
    }
  }
  // Brushes
  .brush {
    .extent {
      fill-opacity: .125;
    }
    .resize path {
      fill: none;
      stroke: #666;
    }
    .background {
      fill: red;
    }
  }
  .no-data-found {
    text {
      text-anchor: middle;
      fill: white;
      font-size: 20px;
    }
    rect {
      fill: #85ADD6;
      fill-opacity: 0.5;
    }
  }
  .small {
    font-size: 12px;
  }
  .medium {
    font-size: 20px;
  }
  .large {
    font-size: 30px;
  }
  .white {
    fill: #ffffff;
  }
  .black {
    fill: $nonblack
  }
}

// Chart specific tweaks
.timeseries {
  @extend .commonCharts;
  // No yAxis lines on the axis, but need the ticks to show the grid
  .y.axis path {
    display:none;
  }
  .zeroline {
    stroke-width: 5px;
  }
  // Draw data points
  .circle {
    stroke-width: 3;
    fill: #ffffff;
  }
  .chart1 .x.axis path {
    stroke-width: 2px;
  }
  .chart2 .x.axis path {
    display: none;
  }
}

.groupStack {
  @extend .commonCharts;
  .horizontal {
    &.x.axis path {
      display: none;
    }
    &.y.axis text {
      fill: $nonblack;
    }
  }
  .vertical {
    &.x.axis text {
      fill: $nonblack;
    }
    &.x.axis path {
      display: none;
    }
    &.y.axis path {
      display: none;
    }
  }
}

.heatmap {
  @extend .commonCharts;
  // Borders on squares
  .square {
    stroke: #f5f6f8;
    stroke-width:2;
    stroke-opacity:0.9;
  }
  // Overide with White text on font
  .cell {
    fill-opacity: 0.75;
  }
  .x.axis path{
    display:none;
  }
  // Axis styles
  .left-nav .text .row-label {
    text-align: right;
    padding-right: 10px;
  }
  .top-nav .text .column-label {
    text-align: center;
    display: table-cell;
    vertical-align: bottom;
  }
  .controls {
    rect.border {
      stroke: $charttitlecolor;
      stroke-width: 2px;
      fill: none;
    }
    rect.control-box {
      fill: none;
    }

    .selected {
      rect {
        fill: $charttitlecolor;
      }
      text {
        fill: white;
      }
    }
    text {
      text-anchor: middle;
    }
  }
}
